<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{range .}}
<h1>{{.AcaYear}} {{.Fall.Term}}</h1>
{{range .Fall.Courses}}
<h2>{{.Number}} {{.Name}} {{.Units}}</h2>
{{end}}

<h1>{{.AcaYear}} {{.Spring.Term}}</h1>
{{range .Spring.Courses}}
<h2>{{.Number}} {{.Name}} {{.Units}}</h2>

{{end}}
{{end}}
</body>
</html>
